* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 59px;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'SF Pro Text', sans-serif;
}

.nav>li {
    line-height: 59px;
}

.nav2 {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    height: 42px;
    padding-left: 20%;
    padding-right: 20%;

}

.nav2>li {
    line-height: 42px
}

.nav3{
    margin-top: -30px;
    width: 195px;
}
.e{
    margin: 40px;
    list-style-type: none;
}
.b{
    margin: 40px;
    list-style-type: none;
    line-height: 1.4px;
    font-size: 18px;
 }
 a{
    text-decoration: none;
}
.ct{
    color: #fff;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    line-height: 18px;
    padding-left: 80px;
}
.img:hover{
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    border-radius: 5%;
}
.img{
    transition: transform ease 0.5s ;
}
.sub_menu {
    position: absolute;
    left: -620px;
    right: -765px;
    background-color: #fff;
    display: none;
    padding-left: 55px;

}

.sub_li {
    padding-left: 10px;
    min-width: 158px;
    text-align: center;
    list-style-type: none;
}

.xyz:hover ul {
    display: flex;
}

.sub_li:hover {
    background-color: gray;
}